
<div class="parent1">

 

  <div class="content-pub" >
    <h2>عدد الكتب الورقية</h2>
    <h5  >{{ TotalNumberOfPaper }}  </h5>


  <div class="content-btn">
    <button   class="btn  btn-lg d-btn  btn-secondary  "   routerLink="/Paper_Books"   > الكتب الالكترونية </button>
    </div>
</div>


  <div class="content-pub" >
    <h2>عدد الكتب الالكترونية</h2>
    <h5  >{{ TotalNumberOfElectronic }}  </h5>


  <div class="content-btn">
    <button   class="btn  btn-lg d-btn  btn-secondary  "   routerLink="/Electronic_Books"   > الكتب الالكترونية </button>
    </div>
</div>


  <div class="content-pub" >
    <h2>عدد الطلبات</h2>
    <h5>{{ TotalOrders }}  </h5>


  <div class="content-btn">
    <button   class="btn  btn-lg d-btn  btn-secondary  "   routerLink="/order"   > الطلبات </button>
    </div>
</div>

    <div class="content-pub" >
      <h2>المبيعات</h2>
      <h5>{{ totalSalesAchieved }}  </h5>


    <div class="content-btn">
      <button   class="btn  btn-lg d-btn  btn-secondary  "      > الطلبات </button>
      </div>
  </div>



  <div class="content-pub" >
    <h2>عدد الرسائل</h2>
    <h5  >{{ TotalNumberOfMessage }}  </h5>
  
  
  <div class="content-btn">
    <button   class="btn  btn-lg d-btn  btn-secondary  "   routerLink="/massage"   > الرسائل </button>
    </div>
  </div>



  <div class="content-pub" >
    <h2>عدد المالكين</h2>
    <h5  >{{ TotalNumberOfAdmins }}  </h5>
  
  
  <div class="content-btn">
    <button   class="btn  btn-lg d-btn  btn-secondary  "   routerLink="/Admins"   > المالكين </button>
    </div>
  </div>


  <div class="content-pub" >
    <h2>عدد الناشرين</h2>
    <h5  >{{ TotalNumberOfPublishers }}  </h5>
  
  
  <div class="content-btn">
    <button   class="btn  btn-lg d-btn  btn-secondary  "   routerLink="/Publisher"   > الناشرين </button>
    </div>
  </div>


  <div class="content-pub" >
    <h2>عدد المستخدمين</h2>
    <h5  >{{ TotalNumberOfUsers }}  </h5>


  <div class="content-btn">
    <button   class="btn  btn-lg d-btn  btn-secondary  "   routerLink="/Users"   > المستخدمين </button>
    </div>
</div>




<div class="content-pub" >
  <h2>عدد الفعاليات</h2>
  <h5  >{{ TotalNumberOfEvents }}  </h5>


<div class="content-btn">
  <button   class="btn  btn-lg d-btn  btn-secondary  "   routerLink="/add-event"   > الفعاليات </button>
  </div>
</div>





</div>



