<div class="container py-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        {{ 'navigation.add_event' | transloco }}
      </h5>
      <form
        (ngSubmit)="handelAddEventFormSubmit(addEventForm)"
        [formGroup]="addEventForm"
      >
        <div class="mb-3">
          <label for="title" class="form-label">{{
            'home.event_title' | transloco
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            id="title"
            placeholder="{{ 'home.event_title' | transloco }}"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">{{
            'home.description' | transloco
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            id="description"
            placeholder="{{ 'home.description' | transloco }}"
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">{{
            'home.address' | transloco
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="address"
            id="address"
            placeholder="{{ 'home.address' | transloco }}"
          />
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">{{
            'home.date' | transloco
          }}</label>
          <input
            type="date"
            class="form-control"
            formControlName="date"
            id="date"
            placeholder="{{ 'home.date' | transloco }}"
          />
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">{{
            'home.choose_picture' | transloco
          }}</label>
          <input
            class="form-control"
            type="file"
            id="formFile"
            formControlName="image"
            (change)="getImage($event)"
            (change)="submitImageData()"
          />
        </div>

        <div class="mb-3">
          <label for="details" class="form-label">{{
            'home.more_information' | transloco
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="details"
            id="details"
            placeholder="{{ 'home.more_information' | transloco }}"
          />
        </div>

        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          "
        >
          <button
            [disabled]="addEventForm.invalid"
            type="submit"
            class="btn d-btn"
            style="background-color: #ed553b; color: #ffffff"
          >
            {{ 'home.add' | transloco }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <form (ngSubmit)="handelAddEventFormSubmit(addEventForm)">
  <div class="container">
    <div class="row m">
      <div class="col input-s">
        <input
          type="text"
          class="form-control"
          formControlName="title"
          placeholder="العنوان الرئيسي"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            addEventForm.get('title')?.errors &&
            addEventForm.get('title')?.touched
          "
        >
          <p
            *ngIf="addEventForm.get('title')?.getError('required')"
            class="m-0"
          >
            is Required
          </p>
          <p
            *ngIf="addEventForm.get('title')?.getError('minlength')"
            class="m-0"
          >
            too short title
          </p>
        </div>
      </div>
    </div>

    <div class="row m">
      <div class="file-input-container col input-s">
        <label for="fileInput1" class="file-input-label">
          <span *ngIf="!image">اختر صوره</span>
          <span *ngIf="image">Image selected: {{ image.name }}</span>
          <input
            type="file"
            id="fileInput1"
            (change)="getImage($event)"
            (change)="submitImageData()"
          />
        </label>
        <div
          class="alert alert-danger"
          *ngIf="
            addEventForm.get('image')?.errors &&
            addEventForm.get('image')?.touched
          "
        >
          <p
            *ngIf="addEventForm.get('image')?.getError('required')"
            class="m-0"
          >
            is Required
          </p>
        </div>
      </div>
    </div>

    <div class="row m">
      <div class="col input-s">
        <input
          type="text"
          class="form-control"
          formControlName="address"
          placeholder="العنوان"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            addEventForm.get('address')?.errors &&
            addEventForm.get('address')?.touched
          "
        >
          <p
            *ngIf="addEventForm.get('address')?.getError('required')"
            class="m-0"
          >
            is Required
          </p>
          <p
            *ngIf="addEventForm.get('address')?.getError('minlength')"
            class="m-0"
          >
            too short address
          </p>
        </div>
      </div>
    </div>

    <div class="row m">
      <div class="col input-s">
        <input
          type="date"
          class="form-control"
          formControlName="date"
          placeholder="التاريخ"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            addEventForm.get('date')?.errors &&
            addEventForm.get('date')?.touched
          "
        >
          <p
            *ngIf="addEventForm.get('date')?.getError('required')"
            class="m-0"
          >
            is Required
          </p>
          <p
            *ngIf="addEventForm.get('date')?.getError('minlength')"
            class="m-0"
          >
            too short Author date
          </p>
        </div>
      </div>
    </div>

    <div class="row m">
      <div class="col input-s">
        <input
          type="text"
          class="form-control"
          formControlName="details"
          placeholder="مزيد من المعلومات"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            addEventForm.get('details')?.errors &&
            addEventForm.get('details')?.touched
          "
        >
          <p
            *ngIf="addEventForm.get('details')?.getError('required')"
            class="m-0"
          >
            is Required
          </p>
          <p
            *ngIf="addEventForm.get('details')?.getError('minlength')"
            class="m-0"
          >
            too short Author details
          </p>
        </div>
      </div>
    </div>

    <div class="row m">
      <div class="col select-o">
        <textarea
          class="form-control mass"
          formControlName="description"
          placeholder="الوصف"
          rows="10"
        ></textarea>
        <div
          class="alert alert-danger"
          *ngIf="
            addEventForm.get('description')?.errors &&
            addEventForm.get('description')?.touched
          "
        >
          <p
            *ngIf="
              addEventForm.get('description')?.getError('required')
            "
            class="m-0"
          >
            is Required
          </p>
        </div>
      </div>
    </div>

    <div class="but">
      <button
        [disabled]="addEventForm.invalid"
        type="submit"
        class="btn btn-lg d-btn btn-secondary"
      >
        اضف الان
      </button>
    </div>
  </div>
</form> -->

<!-- get Events that added -->

<!-- <div class="parent1">
  <div class="content-pub" *ngFor="let EventItem of Events">
    <img [src]="EventItem.image" alt="" />
    <h5>{{ EventItem.title }} <span> : الاسم</span></h5>
    <h5>{{ EventItem.date }} <span> : التاريخ</span></h5>
    <h5>{{ EventItem.address }} <span> : العنوان </span></h5>
    <h5>{{ EventItem.details }} <span> : العنوان بالتفصيل </span></h5>

    <div class="content-btn">
      <button
        class="btn btn-lg d-btn btn-secondary"
        (click)="onDeleteEvent(EventItem._id)"
      >
        حذف
      </button>
    </div>
  </div>
</div> -->

<div class="container mb-5">
  <div class="card">
    <div class="card-body" *ngIf="events.length > 0; else elseBlock">
      <h5 class="card-title">
        {{ 'navigation.events' | transloco }}
      </h5>

      <div
        style="
          width: 100%;
          display: inline-grid;
          grid-template-columns: auto auto auto;
          justify-content: space-around;
          gap: 10px;
        "
      >
        <div
          class="card"
          style="width: 15rem"
          *ngFor="let eventItem of events"
        >
          <img
            [src]="eventItem.image"
            class="card-img-top"
            style="max-height: 250px"
            alt="event image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ eventItem.title }}</h5>
            <p class="card-text">
              {{ eventItem.date }}
            </p>
            <p class="card-text">
              {{ eventItem.address }}
            </p>
            <p class="card-text">
              {{ eventItem.details }}
            </p>
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDeleteEvent(eventItem._id)"
            >
              {{ 'home.delete_event' | transloco }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="card-body">
        <h5 class="card-title">
          {{ 'navigation.events' | transloco }}
        </h5>
        <p class="card-text">
          {{ 'home.no_events' | transloco }}
        </p>
      </div>
    </ng-template>
  </div>
</div>
